<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="dk"></div>
<div class="footer">
    <div>
        <div class="row col-md-12 ">
            <div class="col-md-2 font">
                <h3>
                    <b>
                        THE
                        <br>
                        COFFEE 
                        <br>
                        STUDY
                    </b>
                </h3>
                
            </div>
            <div class="col-md-3">
                <h4><b>ABOUT</b></h4>
                <a>Về Chúng Tôi</a><br>
                <a>Hạt Cà Phê The Coffee Study</a><br>
                <a>Blog</a><br>
                <a>Cơ Hội Nghề Nghiệp</a><br>
                <a>Cửa Hàng</a><br><br>
                <img width="200" src="//theme.hstatic.net/1000075078/1000534883/14/gov.png?v=1544" alt="gov">
            </div>
            <div class="col-md-4">
                <h4><b>Always-on Support</b></h4>
                <a>Delivery 1800 6936 (07:00-21:00)</a><br>
                <a>Support 02871 087 088 (07:00-21:00)</a><br><br>
                <h4><b>Address</b></h4>
                <a>965-967 Điện Biên Phủ, Thanh Khê</a><br>
                <a>Đà Năng, Việt Nam</a><br>
                <a>0395697922</a><br>
                <a>hi@thecoffeestudy.vn</a><br>
            </div>
            <div class="col-md-2">
                <h4><b>Delivery</b></h4>
                <a>Shipping methods</a><br>
                <a>Payment</a><br>
                <a>Cash voucher</a><br>
                <a>Return</a><br>
                <a>Exchange</a>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="line"></div>
        <div class="row col-md-12">
            <div class="col-md-8"><a>Copyright © 2020 The Coffee Study. All rights reserved.</a></div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <a>
                    Privacy Policy | Terms of Use
                </a>
            </div>
        </div>
    </div>
</div>
