<app-banner></app-banner>
<div>
<div class="margin">
    <div class="row col-md-12">
        <div class = "col-md-2"></div>
        <div class = "col-md-3"><h3>THỨC UỐNG</h3></div>
        <div class = "col-md-4"></div>
        <div class = "col-md-2"><button class = "btn btn-default" id ="btnmuangay">xem thêm tất cả sản phẩm</button></div>
        <div class = "col-md-1"></div>
    </div>
    <div class = "row col-md-12">
        <div class = "col-md-2"></div>
        <div class = "col-md-3">
            <img src="assets/images/AMERICANO.jpg"height="300" [routerLink]="['/Products']">
            <p><b>AMERICANO</b></p>
            <p><b>50,000 đ</b></p>
            <p><button class = "btn btn-default" id ="btnmuangay">MUA NGAY</button>
            <button class = "btn btn-default" id ="btntimhieuthem">TÌM HIỂU THÊM</button></p>
        </div>
        <div class = "col-md-3">
            <img src="assets/images/MACCHIATO.jpg"height="300" [routerLink]="['/Products']">
            <p><b>TRÀ ĐEN MACCHIATO</b></p>
            <p><b>42,000 đ</b></p>
            <p><button class = "btn btn-default" id ="btnmuangay">MUA NGAY</button>
            <button class = "btn btn-default" id ="btntimhieuthem">TÌM HIỂU THÊM</button></p>
        </div>
        <div class = "col-md-3">
            <img src="assets/images/TRADOACAMSA.jpg"height="300"  [routerLink]="['/Products']">
            <p><b>TRÀ ĐÀO CAM SẢ</b></p>
            <p><b>45,000 đ</b></p>
            <p><button class = "btn btn-default" id ="btnmuangay">MUA NGAY</button>
            <button class = "btn btn-default" id ="btntimhieuthem">TÌM HIỂU THÊM</button></p>
        </div>
        <div class = "col-md-1"></div>
    </div>
        <div class = "row col-md-12">
        <div class = "col-md-2"></div>
        <div class = "col-md-3">
            <img src="assets/images/TRANCHAUTRANG.jpg"height="300" [routerLink]="['/Products']">
            <p><b>TRÀ SỮA MẮC CA TRÂN CHÂU TRẮNG</b></p>
            <p><b>45,000 đ</b></p>
            <p><button class = "btn btn-default" id ="btnmuangay">MUA NGAY</button>
                <button class = "btn btn-default" id ="btntimhieuthem">TÌM HIỂU THÊM</button></p>
        </div>
        <div class = "col-md-3">
            <img src="assets/images/CARAMELMACCHIATO.jpg"height="300" [routerLink]="['/Products']">
            <p><b>CARAMEL MACCHIATO</b></p>
            <p><b>55,000 đ</b></p>
            <p><button class = "btn btn-default" id ="btnmuangay">MUA NGAY</button>
                <button class = "btn btn-default" id ="btntimhieuthem">TÌM HIỂU THÊM</button></p>
        </div>
        <div class = "col-md-4"><img src="assets/images/ESPRESSO.jpg"height="300" [routerLink]="['/Products']">
            <p><b>ESPRESSO</b></p>
            <p><b>35,000 đ</b></p>
            <p><button class = "btn btn-default" id ="btnmuangay">MUA NGAY</button>
                <button class = "btn btn-default" id ="btntimhieuthem">TÌM HIỂU THÊM</button></p></div>
    </div>
</div>
    

<div>
    <div class="row col-md-12">
        <div class = "col-md-2"></div>
        <div class = "col-md-3"><h3>BÁNH NGỌT</h3></div>
        <div class = "col-md-7"></div>
    </div>
    
    <div class = "row col-md-12">
        <div class = "col-md-2"></div>
        <div class = "col-md-3">
            <img src="assets/images/trungmuoi.jpg"height="300" [routerLink]="['/Products']">
            <p><b>BÁNH BÔNG LAN TRỨNG MUỐI</b></p>
            <p><b>29,000 đ</b></p>
            <p><button class = "btn btn-default" id ="btnmuangay">MUA NGAY</button>
            <button class = "btn btn-default" id ="btntimhieuthem">TÌM HIỂU THÊM</button></p>
        </div>
        <div class = "col-md-3">
            <img src="assets/images/socola.jpg"height="300" [routerLink]="['/Products']">
            <p><b>BÁNH CHOCOLATE</b></p>
            <p><b>29,000 đ</b></p>
            <p><button class = "btn btn-default" id ="btnmuangay">MUA NGAY</button>
            <button class = "btn btn-default" id ="btntimhieuthem">TÌM HIỂU THÊM</button></p>
        </div>
        <div class = "col-md-3">
            <img src="assets/images/CROISSANT.jpg"height="300" [routerLink]="['/Products']">
            <p><b>BÁNH CROISSANT BƠ TỎI</b></p>
            <p><b>29,000 đ</b></p>
            <p><button class = "btn btn-default" id ="btnmuangay">MUA NGAY</button>
            <button class = "btn btn-default" id ="btntimhieuthem">TÌM HIỂU THÊM</button></p>
        </div>
        <div class = "col-md-1"></div>
    </div>

    <div class = "row col-md-12">
        <div class = "col-md-2"></div>
        <div class = "col-md-3">
            <img src="assets/images/gau.jpg"height="300" [routerLink]="['/Products']">
            <p><b>BÁNH GẤU CHOCOLATE</b></p>
            <p><b>29,000 đ</b></p>
            <p><button class = "btn btn-default" id ="btnmuangay">MUA NGAY</button>
            <button class = "btn btn-default" id ="btntimhieuthem">TÌM HIỂU THÊM</button></p>
        </div>
        <div class = "col-md-3">
            <img src="assets/images/banhmy.jpg"height="300" [routerLink]="['/Products']">
            <p><b>BÁNH MÌ CHÀ BÔNG PHÔ MAI</b></p>
            <p><b>29,000 đ</b></p>
            <p><button class = "btn btn-default" id ="btnmuangay">MUA NGAY</button>
            <button class = "btn btn-default" id ="btntimhieuthem">TÌM HIỂU THÊM</button></p>
        </div>
        <div class = "col-md-4"> <img src="assets/images/TIRAMISU.jpg"height="300" [routerLink]="['/Products']">
            <p><b> BÁNH TIRAMISU</b></p>
            <p><b>29,000 đ</b></p>
            <p><button class = "btn btn-default" id ="btnmuangay">MUA NGAY</button>
            <button class = "btn btn-default" id ="btntimhieuthem">TÌM HIỂU THÊM</button></p></div>
    </div>

    





