<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #ffffff;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <img src="/assets/images/logo.png" width="100" height="40">

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/coffee">Trang Chủ <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active dropdown">
                <a class="nav-link" href="#">Menu <span class="sr-only">(current)</span></a>
                <div class="dropdown">
                    <div class="dropdown-content">
                        <a href="#">Cà Phê</a>
                        <a href="#">Trà & Macchiato</a>
                        <a href="#">Thức Uống Đá Xay</a>
                        <a href="#">Thức Uống Trái Cây</a>
                        <a href="#">Bánh & Snack</a>
                      </div>  
                </div>
            </li>
            <li class="nav-item active dropdown">
                <a class="nav-link" href="/study">Học Tập <span class="sr-only">(current)</span></a>
                <div class="dropdown">
                    <div class="dropdown-content">
                        <a routerLink="/signupclassschedule">Đăng Ký Lịch Học</a>
                        <a routerLink="/schedule">Lịch Học</a>
                        <a routerLink="/Transcript">Bảng Điểm</a>
                        <a routerLink="/TestQuizzes">Tests & Quizzes</a>
                      </div>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Đánh Giá <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/Blog">Blog </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Giới Thiệu <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="dk"></div>




<!-- <div class="header">
    <div class=" row col-md-12 ">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <div class="btn1">
            <button class="btn btn-default b color" routerLink="/coffee">Trang Chủ</button>
            <div class="dropdown">
                <button class="btn btn-default b color" >  Menu </button>
                <div class="dropdown-content">
                  <a href="#">Cà Phê</a>
                  <a href="#">Trà & Macchiato</a>
                  <a href="#">Thức Uống Đá Xay</a>
                  <a href="#">Thức Uống Trái Cây</a>
                  <a href="#">Bánh & Snack</a>
                </div>
            </div> 
            <div class="dropdown">
                <button class="btn btn-default b color" routerLink="/study">Học Tập</button>
                <div class="dropdown-content">
                  <a routerLink="/signupclassschedule">Đăng Ký Lịch Học</a>
                  <a routerLink="/schedule">Lịch Học</a>
                  <a routerLink="/Transcript">Bảng Điểm</a>
                  <a routerLink="/TestQuizzes">Tests & Quizzes</a>
                </div>
            </div>
            <img src="/assets/images/logo.png" width="120" height="60">
            <button class="btn btn-default b color" routerLink="/Blog">Blog</button>
            <button class="btn btn-default b color" >Đánh Giá</button>
            <button class="btn btn-default b color" style="margin-right: 100px;" >Giới Thiệu</button>
            <input class="border" type="text" placeholder="   Search..." name="search2" style="width: 270px; margin-right: 20px;">
            <button class="border" type="submit"><i class="fa fa-search"></i></button>
        </div>
    </div>
    </div>
</div>
<div class="dk"></div> -->