
<div class="background bkg">
    <form>
        <div class="div-1">
            <h1>Đăng Nhập</h1>
        </div>
        <div class="div-2">
            <div>
                <label for="email"><h5 style="margin-left: 30px;">Tài khoản</h5></label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                    <input class="form-control" formControlName="username" name="username" type="text">
                </div>

            </div>
            <div>
                <label for="password"><h5 style="margin-left: 30px;margin-top: 30px;" >Mật khẩu</h5></label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                    </span>
                    <input class="form-control" formControlName="password" name="password" type="password">
                </div>

            </div>


                <div class="form-group btn-login pad-1">
                    <div>
                        <button class="btn btn-default  center-block" style="margin-top: 50px;">Đăng nhập</button>

                    </div>
                </div>


            <div class="input-group flex">
                <div class="checkbox">

                </div>
                <div class="text-right forgot pad">
                    <a href="#/password">
                        <i style="margin-left: 70px;">Lấy lại mật khẩu&nbsp;</i>
                    </a>
                </div>
            </div>

            <div>
                <p for="register" style="margin-left: 50px;">Bạn chưa có tài khoản? </p>
                <button class="btn btn-default  center-block" id="btn-login" href="/signup">Đăng ký</button>
            </div>
        </div>


    </form>
</div>
