<div class="image">
    <div class="text">
        <h3>Đăng Ký Lịch Học</h3>
    </div>
    <table class="container">
        <tr>
            <th>Tên Lớp</th>
            <th>Tên Môn</th>
            <th>Tuần Học</th>
            <th>Thời Gian</th>
            <th>Địa Điểm</th>
            <th>Tên Giảng viên</th>
            <th>Đăng Ký</th>
            <th>Hủy</th>
          </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><i type="button" value="Click me"  class="fa fa-check fa-2x"></i></td>
          <td ><i type="button" value="Click me"  class="fa fa-times fa-2x"></i></td>
        </tr>
    </table>
</div>

  
